/*初始化*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{box-sizing:border-box; margin:0; padding:0;}
body{font:14px/1.5 "Microsoft YaHei"; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
img{display:block; border:none;}
menu,ol,ul,li,dl{list-style:none;}
button,input,select,textarea{box-sizing:border-box; outline:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:100%;}
a,a:link,a:visited,a:hover,a:active{text-decoration:none;}

/*浮动方式*/
.fl{float:left;}
.fr{float:right;}
.clear{overflow:hidden; clear:both; height:0; font-size:0;}
.clearfix:after{display:block; visibility:hidden; clear:both; height:0; font-size:0; content:"";}

/*定位方式*/
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}
.center{margin:0 auto;}

/*对齐方式*/
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.taj{text-align:justify;}

/*弹性布局*/
.flex-row{display:flex; flex-flow:row wrap;}
.flex-col{display:flex; flex-flow:column wrap;}
.flex-ct{display:flex; justify-content:center; align-items:center;}
.flex-fs{display:flex; flex-wrap:wrap; justify-content:space-between; align-content:space-between;}

/*居中定位*/
.abs-ct{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.abs-cx{position:absolute; left:50%; transform:translateX(-50%);}
.abs-cy{position:absolute; top:50%; transform:translateY(-50%);}

/*动画模式*/
.tran-fast{transition:all 300ms;}
.tran-medi{transition:all 500ms;}
.tran-slow{transition:all 800ms;}
.td-camera{perspective:1000;}
.td-space{transform-style:preserve-3d;}
.td-box{backface-visibility:hidden;}
.gpu-speed{transform:translate3d(0,0,0);}

/*其他*/
.fullscreen{left:0; right:0; top:0; bottom:0;}
.ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.page-at{overflow:auto; width:100%; height:100%;}
.page-fs{overflow:hidden; width:100%; height:100%;}
.round{border-radius:100%;}